<appSettings>
  <!-- PayPal API | Required -->
  <add key="PayPal_APIUsername" value=""/>
  <add key="PayPal_APIPassword" value=""/>
  <add key="PayPal_APISignature" value=""/>
  
  <!-- Microsoft Account Auth | Optional -->
  <add key="MicrosoftAccountAuth_clientId" value="" />
  <add key="MicrosoftAccountAuth_clientSecret" value="" />
  
  <!-- Twitter Auth | Optional -->
  <add key="TwitterAuth_consumerKey" value="" />
  <add key="TwitterAuthconsumerSecret" value="" />
  
  <!-- Facebook Auth | Optional -->
  <add key="FacebookAuth_appId" value="" />
  <add key="FacebookAuth_appSecret" value="" />
  
  <!-- Google Auth | Optional -->
  <add key="GoogleAuth_ClientId" value="" />
  <add key="GoogleAuth_ClientSecret" value="" />
</appSettings>
  